/*common*/
*{margin:0;padding:0;}
body{margin:0;padding:0;font-size:12px;color:#a93331;font-family:'Arial','方正剪纸简体','Simsun','Verdana','Helvetica',sans-serif,'微软雅黑';}
em{font-style:normal;}
a{color:#a93331;text-decoration:none;}
a:hover {text-decoration: underline;}
img,a img{border:none;vertical-align:bottom;}
ul,li,ol{list-style:none;}
input{border:0px;background:none;}
#wrapper{width:760px;height:800px;position:relative;margin:0 auto;background:url(../images/bg_body.jpg) no-repeat 0 0;}
/*contentsArea*/
#contentsArea{
width:760px;
height:567px;
position:absolute;
left:0px;
top:0px;
zoom:1;
z-index:10;
}
.haze{
background:url(../images/bg_haze.jpg) no-repeat 0 0;
}
.scratch{
position:absolute;
left:144px;
top:70px;
}
.scratch p{
position:absolute;
left:0px;
top:0px;
}
.gamePop01{
position:absolute;
left:132px;
top:67px;
width:500px;
height:331px;
background:url(../images/bg_game01.png) no-repeat 0 0;
}
.gamePop01 .gameTxt{
margin:46px 0 25px 32px;
}
.gamePop01 .btnList{
zoom:1;
}
.gamePop01 .btnList:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.gamePop01 .btnList li{
float:left;
margin:0 56px 0 87px;
}
.gamePop01 .btnList li a{
display:block;
width:90px;
height:29px;
}
.gamePop01 .btnList li a:hover{
background:url(../images/btn_yes_on.png) no-repeat 0 0;
}
.gamePop01 .btnList li:first-child a:hover{
background:url(../images/btn_no_on.png) no-repeat 0 0;
}
.gamePop01 .btnList li a:hover img{
display:none;
}
.success{
position:absolute;
left:310px;
top:234px;
z-index:10;
}
.gamePop02{
position:absolute;
left:132px;
top:67px;
width:500px;
height:331px;
background:url(../images/bg_game02.png) no-repeat 0 0;
}
.gamePop02 .gameTxt{
margin:139px 0 13px 124px;
}
.gamePop02 .btnList{
zoom:1;
}
.gamePop02 .btnList:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.gamePop02 .btnList li{
float:left;
margin:0 0px 0 206px;
}
.gamePop02 .btnList li a{
display:block;
width:74px;
height:21px;
}
.gamePop02 .btnList li a:hover{
background:url(../images/btn_confirm_on.gif) no-repeat 0 0;
}
.gamePop02 .btnList li a:hover img{
display:none;
}
.gamePop03{
position:absolute;
left:132px;
top:67px;
width:500px;
height:331px;
background:url(../images/bg_game03.png) no-repeat 0 0;
}
.gamePop03 .btnList{
zoom:1;
}
.gamePop03 .btnList:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.gamePop03 .btnList li{
float:left;
margin:0 0px 0 194px;
}
.gamePop03 .btnList li a{
display:block;
width:107px;
height:24px;
}
.gamePop03 .btnList li a:hover{
background:url(../images/btn_share01_on.png) no-repeat 0 0;
}
.gamePop03 .btnList li a:hover img{
display:none;
}
.gamePop03 .textCont{
width:296px;
height:71px;
text-align:center;
margin:122px 0 9px 100px;
background:url(../images/bg_text.png) no-repeat 0 0;
}
.gamePop03 .textCont textarea{
width:286px;
height:65px;
margin:3px 5px;
*margin-left:-15px;
overflow:hidden;
resize:none;
outline:none;
background:none;
border:0px;
color:#b02923;
}
.gamePop03 .close{
position:absolute;
left:458px;
top:92px;
}
.gamePop03 .weChat{
position:absolute;
left:422px;
top:198px;
}
.gamePop03 .weChat a{
width:22px;
height:22px;
display:block;
}
.gamePop03 .weChat a:hover{
background:url(../images/btn_wechat_on.png) no-repeat 0 0;
}
.gamePop03 .weChat a:hover img{
display:none;
}

.gamePop04{
position:absolute;
left:137px;
top:69px;
width:494px;
height:282px;
background:url(../images/bg_game04.png) no-repeat 0 0;
}
.gamePop04 .weChat{
position:absolute;
left:150px;
top:83px;
width:210px;
text-align:center;
}
.gamePop04 .close{
position:absolute;
left:360px;
top:24px;
}
/*headerArea*/
#headerArea{
width:760px;
margin:0 auto;
height:233px;
position:relative;
padding-top:567px;
z-index:1;
}
#headerArea h1{
position:absolute;
left:37px;
bottom:155px;
}
.counter{
position:absolute;
right:17px;
bottom:12px;
width:240px;
}
.counter ul{
zoom:1;
}
.counter li{
float:left;
width:40px;
height:40px;
line-height:42px;
color:#ff0606;
font-weight:bold;
font-size:16px;
text-align:center;
background:url(../images/bg_counter.png) no-repeat 0 0;
}
.counter ul:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.explan{
position:absolute;
left:0px;
bottom:0px;
color:#ff0000;
font-family:"长城长宋体";
font-size:14px;
letter-spacing:3px;
padding-left:5px;
text-indent:-5px;
}
.explan p{
padding-bottom:5px;
}